@model ViewBookModel
@{
    ViewData["Title"] = "Books";
}

<div style="display: flex">
    <div style="margin: 15px">
        <h2>Aktuelle Bücher</h2>
        <table class="table table-bordered table-striped" width="50%">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
            @foreach (var book in Model.CurrentBooks)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Titel</td>
                    <td>@book.Autor</td>
                    <td>
                        <form asp-controller="Book" asp-action="MoveBookToArchive" method="post">
                            <input type="hidden" name="bookId" value="@book.Id"/>
                            <button class="btn btn-primary">Switch</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div style="margin: 15px">
        <h2>Archivierte Bücher</h2>
        <table class="table table-bordered table-striped" width="50%">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
            @foreach (var book in Model.ArchivedBooks)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Titel</td>
                    <td>@book.Autor</td>
                    <td>
                        <form asp-controller="Book" asp-action="MoveBookToCurrent">
                            <input type="hidden" name="bookId" value="@book.Id"/>
                            <button class="btn btn-primary">Switch</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

